[user]
	email = imzhongqi@gmail.com
	name = zhongqi
#[url "git@github.com:"]
	#insteadof = https://github.com/
[url "git@gitlab.hoogeek.com:"]
	insteadof = https://gitlab.hoogeek.com/
[init]
	defaultBranch = master
