" Find more examples here: https://jb.gg/share-ideavimrc

""" Source ------------------------------------------
source ~/.config/vim/general.vim
source ~/.config/vim/key-bindings.vim

""" Plugins  ----------------------------------------
set surround
set multiple-cursors
set commentary
set easymotion
set textobj-entire
set ReplaceWithRegister
set highlightedyank

""" Ideavim specific settings ------------------------
set ideajoin
set ideaputdd
set ideamarks
set idearefactormode=keep

""" Settings
set vb

""" Mappings -----------------------------------------
nnoremap <C-l> <C-w>l
nnoremap <C-h> <C-w>h

" go to tab
nnoremap <leader>1 :action GoToTab1<CR>
nnoremap <leader>2 :action GoToTab2<CR>
nnoremap <leader>3 :action GoToTab3<CR>
nnoremap <leader>4 :action GoToTab4<CR>
nnoremap <leader>5 :action GoToTab5<CR>
nnoremap <leader>6 :action GoToTab6<CR>
nnoremap <leader>7 :action GoToTab7<CR>
nnoremap <leader>8 :action GoToTab8<CR>
nnoremap <leader>9 :action GoToTab9<CR>

nnoremap <leader>rn :action RenameElement<CR>

nnoremap <leader>s :action SelectInProjectView<CR>
nnoremap <leader>a :action Annotate<CR>

nnoremap <leader>ot :action ActivateTerminalToolWindow<CR>

map ge <Action>(ShowErrorDescription)

map <leader>tt :action $TranslateTextComponent<CR>

nnoremap gi :action GotoImplementation<CR>